.AtenasButton {
  all: unset;
  border: none;
  background-image: none;

  font-family: Ubuntu, 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 30px;
  min-width: 30px;
  background-color: #B93044;
  box-shadow: 0 0 8px rgba(0,0,0, 0.25);
  border-radius: 5px;
  color: white;
  -webkit-text-fill-color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background 350ms ease, 
              box-shadow 350ms, 
              transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
              filter 350ms,
              opacity 350ms;
  transform: scale(1);
  position: relative;
}

/* @media (prefers-color-scheme: dark) {
  .AtenasButton {
    color: #333;
    -webkit-text-fill-color: #333;
  }
} */

.AtenasButton:disabled {
  opacity: 0.5;
  filter: grayscale(1);
}

.AtenasButton span {
  margin: 0 15px;
  height: 30px;
  line-height: 30px;
}

.AtenasButton span.withicon {
  margin: 0 15px 0 0;
}

.AtenasButton i {
  /* position: absolute; */
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 30px;
}

.AtenasButton:hover {
  background-position:100%;
  box-shadow: 0 0 16px rgba(0,0,0, 0.25);
}

.AtenasButton:active {
  box-shadow: 0 0 4px rgba(0,0,0, 0.25);
  transform: scale(0.95)
}

.AtenasButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px black;
}
