.AtenasCheckBox {
  height: 26px;
  flex-direction: row;
  line-height: 26px;
}

/* Base for .label styling */
.input:not(:checked),
.input:checked {
  position: absolute;
  opacity: 0;
}

.input:not(:checked) + .label,
.input:checked + .label {
  position: relative;
  padding-top: 2px;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.input:not(:checked) + .label:before,
.input:checked + .label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #CCCCCC;
  background-color: #FFFFFF;
  border-radius: 5px;
  transition: all 350ms;
}


/* checked mark aspect */
.input:not(:checked) + .label:after,
.input:checked + .label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #B93044;
  transition: all 350ms;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
.input:not(:checked) + .label:after {
  opacity: 0;
  transform: scale(0);
}
.input:checked + .label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.input:disabled:not(:checked) + .label:before,
.input:disabled:checked + .label:before {
  border-color: #bbb;
  background-color: #FFFFFF;
}
.input:disabled:checked + .label:after {
  color: #999;
}
.input:disabled + .label {
  color: #aaa;
}


/* @media (prefers-color-scheme: dark) {
  .input:not(:checked) + .label:before,
  .input:checked + .label:before {
    border: 2px solid #666666;
    background-color: #333333;
  }
  .input:disabled:not(:checked) + .label:before,
  .input:disabled:checked + .label:before {
    border: 2px solid #666666;
    background-color: #333333;
  }

  .input:disabled:checked + .label:after {
    color: #999;
  }
  .input:disabled + .label {
    color: #999;
  }
} */

/* accessibility */
.input:checked:focus + .label:before,
.input:not(:checked):focus + .label:before {
  border: 2px solid #B93044;
  box-shadow: 0 0 0 1px #B93044;

}


.input.loading:not(:checked) + .label:before,
.input.loading:checked + .label:before {
  border-radius: 50%;
  border: 2px dashed #B93044;
  box-shadow: 0 0 0 0px #B93044;
  animation: rotation 2s linear infinite;
}

/* hover style just for information */

.input.loading:not(:checked) + .label.loading:before,
.input.loading:checked + .label.loading:before {
  box-shadow: 0 0 0 0px #B93044;
  border: 2px dashed #B93044;
}

/* hover style just for information */
.input.loading:not(:checked) + .label.loading:hover:before,
.input.loading:checked + .label.loading:hover:before {
  border: 2px dashed #B93044;
  box-shadow: 0 0 0 0px #B93044;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}