
:root {
  --shadow1: 0 5px 16px hsla(0, 0%, 0%, 0.08);
  --shadow2: 0 0.25px 2px hsla(0, 0%, 0%, 0.16);
  --shadow1--hover: 0 5px 40px hsla(0, 0%, 0%, 0.12);
  --shadow2--hover: 0 1px 8px hsla(0, 0%, 0%, 0.08);
  --shadow: var(--shadow1), var(--shadow2), inset 0 2px 16px hsla(0, 0%, 0%, 0), inset 0 0.25px 2px hsla(0, 0%, 0%, 0);
  --shadow--inset: 0 5px 40px hsla(0, 0%, 0%, 0), 0 1px 8px hsla(0, 0%, 0%, 0), inset 0 1px 8px hsla(0, 0%, 0%, 0.32), inset 0 0.25px 2px hsla(0, 0%, 0%, 0.32);
  --shadow--hover: var(--shadow1--hover), var(--shadow2--hover), inset 0 2px 16px hsla(0, 0%, 0%, 0), inset 0 0.25px 2px hsla(0, 0%, 0%, 0);
}

.AtenasDropDown {
  z-index: 2;
  height: 0;
  position: relative;
}

.button {
  flex-direction: column;
  align-items: flex-end;
}

.holder {
  position: absolute;
  right: 0;
}

.AtenasDropDown .holder {
  display: flex;
  background-color: #F8F8F8;
  color: #666666;
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
  box-shadow: var(--shadow);
  pointer-events: none;
}

/* @media (prefers-color-scheme: dark) {
  .AtenasDropDown .holder {
    background-color: #333;
  }
} */

.AtenasDropDown .holder.closed {
  animation: close 350ms ease;
  pointer-events: none;
  opacity: 0;
}

.AtenasDropDown .holder.opened {
  pointer-events: all;
  opacity: 1;
  animation: open 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes open {
  0%   { opacity: 0; transform: scale(0.75) }
  100% { opacity: 1; transform: scale(1) }
}

@keyframes close {
  0%   { opacity: 1; transform: scale(1) }
  100% { opacity: 0; transform: scale(0.75) }
}