.AtenasInputDate {
  /* margin: 5px 10px 5px 0; */
}

.AtenasInputDate span {
  padding-left: 10px;
}

.AtenasInputDate .input {
  justify-content: center;
  border: none;
  font-family:  Ubuntu, 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 30px;
  background-color: hsl(0,0%,100%);
  border: 1px solid hsl(0,0%,80%);

  border-radius: 5px;
  color: #000;


  font-size: 14px;
  font-weight: 400;
  align-items: center;
  padding: 0 5px 0 15px;
  /* margin-left: 5px; */
}

.AtenasInputDate input {
  background-color: transparent;
  color: #000;
  justify-content: center;
  border: none;
  font-family: Ubuntu Mono, 'Fira Code', 'Courier New', Courier, monospace;
  text-align: right;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  padding: 0 0 0 0;
  /* margin-left: 5px; */
}

.AtenasInputDate input::-webkit-inner-spin-button {
  display: none;
}

.AtenasInputDate input::-webkit-clear-button {
  display: none;
}


.AtenasInputDate .input:focus {
  outline: none;
}

.AtenasInputDate .input:hover .close {
  color: #000;
}

.AtenasInputDate .close {
  color: transparent;
  padding: 7px;
  cursor: pointer;
  transition: text-shadow 250ms,
              color 250ms;
}

.AtenasInputDate .close:hover {
  text-shadow: 0px 0px 8px #000000;
}