.Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.Loading.light {
  color: #ffffff;  
}

.Loading {
  color: #333333;
}

/* @media (prefers-color-scheme: dark) {
  .Loading {
    color: #ffffff;
  }
} */

.Loading .skFoldingCube {
  /* background: linear-gradient(135deg, #667EEA 0%, rgba(255, 255, 255, 0) 100%), #764BA2; */
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.Loading .skFoldingCube .skCube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}
.Loading .skFoldingCube .skCube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B93044;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.Loading.light .skFoldingCube .skCube:before {
  background-color: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  .Loading.light .skFoldingCube .skCube:before {
    background-color: #333333;
  }
} */

.Loading .skFoldingCube .skCube2 {
  transform: scale(1.1) rotateZ(90deg);
}
.Loading .skFoldingCube .skCube3 {
  transform: scale(1.1) rotateZ(180deg);
}
.Loading .skFoldingCube .skCube4 {
  transform: scale(1.1) rotateZ(270deg);
}
.Loading .skFoldingCube .skCube2:before {
  animation-delay: 0.3s;
}
.Loading .skFoldingCube .skCube3:before {
  animation-delay: 0.6s;
}
.Loading .skFoldingCube .skCube4:before {
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}