.MaskedInput {
  all: unset;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  transition: background-color 350ms, border-color 350ms;
  background-color: hsl(0,0%,100%);
  border: 1px solid hsl(0,0%,80%);
  border-radius: 5px;
  margin: 0;
  position: relative;
  width: 100%;
}

/* @media (prefers-color-scheme: dark) {
  .MaskedInput {
    background-color: #666;
    border: 1px solid #999;  
    color: #fff;
  }
} */

.MaskedInput:hover,
.MaskedInput:active,
.MaskedInput:focus-within {
  background-color: hsl(0,0%,100%);
  border-color: #B93044;
  box-shadow: 0 0 0 1px #B93044;
}

/* @media (prefers-color-scheme: dark) {
  .MaskedInput:hover,
  .MaskedInput:active,
  .MaskedInput:focus-within {
    background-color: #666;
    border-color: #B93044;
    box-shadow: 0 0 0 1px #B93044;
  }
}   */


.MaskedInput.err {
  background-color: #ffFFFFbb;
  border: 1px solid #ff999999;
  box-shadow: 0 0 0 1px #ff999999;
}

/* @media (prefers-color-scheme: dark) {
  .MaskedInput.err {
    background-color: #996666;
    border-color: #B93044;
    box-shadow: 0 0 0 1px #B93044;
  }
} */


.MaskedInput.disabled {
  background-color: #ddda;
  cursor: default;
}

/* @media (prefers-color-scheme: dark) {

  .MaskedInput.disabled {
    background-color: #333a;
    color: #aaa;
    cursor: default;
  }
  
} */

.MaskedInput.small {
  border-radius: 0;
  margin: 0;
  background-color: #fff;
  border: none;
}

/* @media (prefers-color-scheme: dark) {
  .MaskedInput.small {
    background-color: #666;
    color: #fff;
  }
} */

.MaskedInput input {
  all: unset;
  border: none;
  background-image: none;
  flex-grow: 1;
  color: #000;
  -webkit-text-fill-color: #000;

  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Ubuntu Mono', 'Menlo', 'Courier New', Courier, monospace;
  width: 100%;

}

/* @media (prefers-color-scheme: dark) {
  .MaskedInput input {
    color: #fff;
    -webkit-text-fill-color: #fff;
  
  }
} */

.MaskedInput.withIcon input {
  padding-left: 40px;
}

.MaskedInput input::label {
  color: #666;
  font-weight: 400;
}

/* @media (prefers-color-scheme: dark) {
  .MaskedInput input::label {
    color: #aaa;
  
  }
} */

.MaskedInput input::-webkit-inner-spin-button,
.MaskedInput input::-webkit-clear-button {
  display: none;
}

.MaskedInput input::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  color: black;
  opacity: 1;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  height: 7px;
  padding: 11px 7px;
}

/* @media (prefers-color-scheme: dark) {
  .MaskedInput input::-webkit-calendar-picker-indicator {
    color: #fff;
  }
} */

.MaskedInput i {
  color: #333333;
  -webkit-text-fill-color: #333333;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 30px;
  pointer-events: none;
  position: absolute;
}

/* @media (prefers-color-scheme: dark) {
  .MaskedInput i {
    color: #ccc;
    -webkit-text-fill-color: #ccc;
  }
} */

.MaskedInput .label {
  position: absolute;
  pointer-events: none;
  color: #333333;
  text-shadow: #ffffff90;
  font-weight: 400;
  top: -20px;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  opacity: 1;
}


/* @media (prefers-color-scheme: dark) {
  .MaskedInput .label {
    color: #cccccc;
    text-shadow: #ffffff90;
  }
} */

/* .MaskedInput.withIcon .label {
  left: 40px;
} */
