
div.wrap {
  margin: 0!important;
  padding: 0!important;
  border-radius: 4px;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  max-height: 100%;
  height: 1000px;
  display: flex;
  position: relative;

}

.embed {
 /* height: 100%; */
 width: 100%;
 border: none;
  border-radius: 4px;
  overflow: hidden;
}

.embed #container {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.actions {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.actions button {
  padding: 0;
  border: none;
  border-radius: 8px;
  background-color: #ffffff66;
  height: 45px;
  width: 45px;
  color: #33333399;
  font-size: 20px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  margin-left: 20px;
  border: 1px solid #cccccc99;
  box-shadow: var(--shadow);
}






.AtenasModal {
  /* pointer-events: none; */
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  padding-top: env(safe-area-inset-top);
  animation: openbackdrop 350ms ease-out;
}

.AtenasModal.closing {
  opacity: 0;
  animation: closebackdrop 350ms ease-out;
}

/*🤔*/
.AtenasModal .backdrop {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  background-color: #ffffff77;
  display: flex;
  justify-content: center;
  align-items: center;
}


:root {
  --shadow1: 0 5px 16px hsla(0, 0%, 0%, 0.08);
  --shadow2: 0 0.25px 2px hsla(0, 0%, 0%, 0.16);
  --shadow1--hover: 0 5px 40px hsla(0, 0%, 0%, 0.12);
  --shadow2--hover: 0 1px 8px hsla(0, 0%, 0%, 0.08);
  --shadow: var(--shadow1), var(--shadow2), inset 0 2px 16px hsla(0, 0%, 0%, 0), inset 0 0.25px 2px hsla(0, 0%, 0%, 0);
  --shadow--inset: 0 5px 40px hsla(0, 0%, 0%, 0), 0 1px 8px hsla(0, 0%, 0%, 0), inset 0 1px 8px hsla(0, 0%, 0%, 0.32), inset 0 0.25px 2px hsla(0, 0%, 0%, 0.32);
  --shadow--hover: var(--shadow1--hover), var(--shadow2--hover), inset 0 2px 16px hsla(0, 0%, 0%, 0), inset 0 0.25px 2px hsla(0, 0%, 0%, 0);
}


.AtenasModal .content {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 1000px;
  max-height: calc(100% - 40px);
  margin: 20px; 
  box-sizing: border-box;
  /* overflow: hidden; */
  pointer-events: unset;

  border-radius: 5px;
  box-shadow: var(--shadow);
  border: 1px solid #ccc;
  animation: openpop 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* @media (prefers-color-scheme: dark) {
  .AtenasModal .backdrop {
    background-color: #00000077;
  }
  .AtenasModal .content {
    border: 1px solid #666666;

    background-color: #333333;
  }
} */


@media (max-width: 1000px) {
  .AtenasModal .content {
    border: none;
    margin: 0;
    min-height: 100%;
    width: 100%;
    border-radius: 0;
  }
}

.AtenasModal.closing .content {
  animation: closepop 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.AtenasModal > .content > div {
  /* margin: 20px; */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
}

.AtenasModal > .content > span {
  position: relative;

}

.AtenasModal > .content > span > button.closeButton {
  text-align: right;
  position: absolute;
  margin: 20px;
  right: 5px;
  /* top: 0; */
  /* margin-bottom: -100%; */
  border-radius: 28px;
  /* padding: 20px; */
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 16px #ccc;
  border: 1px solid #ccc;
  background-color: #FFF;
  transform: scale(1);
  transition: transform 250ms ease;
  z-index: 10;
}

.AtenasModal > .content > span > button.closeButton:active {
  transform: scale(0.95);
}

.AtenasModal > .content > span > .closeButton > i {
  color: #333;
  line-height: 28px;

  /* position: fixed; */
  /* right: 0; */
  /* top: 0; */
}

/* @media (prefers-color-scheme: dark) {
  .AtenasModal > .content > span > button.closeButton {
    box-shadow: 0 0 16px #333333;
    border: 1px solid #666666;
    background-color: #333333;
  }

  .AtenasModal > .content > span > .closeButton > i {
    color: #FFF;
  }
} */

@keyframes openbackdrop {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes closebackdrop {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}


@keyframes openpop {
  0%   { transform: scale(0.75); }
  100% { transform: scale(1);    }
}

@keyframes closepop {
  0%   { transform: scale(1);    }
  100% { transform: scale(0.75); }
}
