.SearchBar {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.SearchBar.small {
  border-radius: 0;
  margin: 0;
  background-color: #ddd;
  border: none;
}

.SearchBar input {
  all: unset;
  border: none;
  background-image: none;
  flex-grow: 1;
  color: #333;
  height: 40px;
  /* padding-left: 40px; */
}



.SearchBar input::placeholder {
  color: #666;
  font-weight: 400;
}

.SearchBar i {
  padding: 0 10px;
  max-width: 40px;
  width: 40px;
  box-sizing: border-box;
  flex-grow: 1;
  color: #333;
  /* position: absolute; */
  pointer-events: none;
}


/* @media (prefers-color-scheme: dark) {
  .SearchBar {
    background-color: #666;
    color: #fff;
    border: 1px solid #666666;
  }

  .SearchBar input::placeholder {
    color: #aaa;
    -webkit-text-fill-color: #aaa;
  }
  .SearchBar i {
    color: #fff;
  }
} */

