.AtenasSelect {
  /* margin: 5px 10px 5px 0; */
  position: relative;
  display: flex;
  flex-direction: column;
}

.AtenasSelect select {
  all: unset;
  border: none;
  background-image: none;
  
  font-family:  Ubuntu, 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 30px;

  background-color: hsl(0,0%,100%);
  border: 1px solid hsl(0,0%,80%);


  border-radius: 5px;
  color: #000;
  cursor: pointer;
  transition: background-color 350ms, border-color 350ms;
  font-weight: 400;
  align-items: center;
  padding: 0 35px 0 10px;
  width: 100%;
}

/* @media (prefers-color-scheme: dark) {
  .AtenasSelect select {
    background-color: #666;
    border: 1px solid #999;  
    color: #fff;
  }
} */

.AtenasSelect select:hover,
.AtenasSelect select:active,
.AtenasSelect select:focus-within {
  background-color: hsl(0,0%,100%);
  border-color: #B93044;
  box-shadow: 0 0 0 1px #B93044;
}

/* @media (prefers-color-scheme: dark) {
  .AtenasSelect select:hover,
  .AtenasSelect select:active,
  .AtenasSelect select:focus-within {
    background-color: #666;
    border-color: #B93044;
    box-shadow: 0 0 0 1px #B93044;
  }
} */


.AtenasSelect select:active {
  /* box-shadow: 0 0 4px #B93044; */
}

.AtenasSelect select:focus {
  outline: none;
}

.AtenasSelect .wrap {
  position: relative;
  display: flex;
}

.AtenasSelect.line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AtenasSelect i {
  pointer-events: none;
  width: 0;
  margin-left: -20px;
  position: absolute;
  height: 34px;
  color: #000;
  right: 20px;
  line-height: 34px;
  bottom: 0;
}

.AtenasSelect > span {
  padding-left: 10px;
}
