
:root {
  --shadow1: 0 5px 16px hsla(0, 0%, 0%, 0.08);
  --shadow2: 0 0.25px 2px hsla(0, 0%, 0%, 0.16);
  --shadow1--hover: 0 5px 40px hsla(0, 0%, 0%, 0.12);
  --shadow2--hover: 0 1px 8px hsla(0, 0%, 0%, 0.08);
  --shadow: var(--shadow1), var(--shadow2), inset 0 2px 16px hsla(0, 0%, 0%, 0), inset 0 0.25px 2px hsla(0, 0%, 0%, 0);
  --shadow--inset: 0 5px 40px hsla(0, 0%, 0%, 0), 0 1px 8px hsla(0, 0%, 0%, 0), inset 0 1px 8px hsla(0, 0%, 0%, 0.32), inset 0 0.25px 2px hsla(0, 0%, 0%, 0.32);
  --shadow--hover: var(--shadow1--hover), var(--shadow2--hover), inset 0 2px 16px hsla(0, 0%, 0%, 0), inset 0 0.25px 2px hsla(0, 0%, 0%, 0);
}


.AtenasSelectList {
  overflow: hidden;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  /* flex-grow: 1; */
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--shadow);
  flex-direction: column;
  /* border: 1px solid #ccc; */
  height: 200px;
  margin-bottom: 2px;
  position: relative;
}

/* @media (prefers-color-scheme: dark) {
  .AtenasSelectList {
    background-color: #333333;
    border: 1px solid #666666;
  }
} */

.AtenasSelectList .seeMoar {
  /* padding: 5px; */
  width: 100%;
  text-align: center;
  cursor: pointer;
  bottom: 0;
  color: #333;
  position: absolute;
  background-image: linear-gradient(#ffffff00, #ffffffaa, #ffffffff)
}

/* @media (prefers-color-scheme: dark) {

  .AtenasSelectList .seeMoar {
    color: #ffffff;
    background-image: linear-gradient(#33333300, #333333aa, #333333ff)
  }
} */

.AtenasSelectList .filters {
  color: #666666;
  border-bottom: 1px solid #ccc;
}

.AtenasSelectList .filters .select {
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.AtenasSelectList .filters .top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AtenasSelectList .filters .top i {
  width: 30px;
  text-align: center;
  pointer-events: none;
  position: absolute;
}

.AtenasSelectList .filters .top .searchBar {
  width: 100%;
  border: none;
  height: 30px;
  font-size: 14px;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 30px;
}

.AtenasSelectList .header {
  text-transform: uppercase;
  cursor: pointer;
  background-color: #F8F8F8;
  color: #666666;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 14px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  padding-right: 16px;
}

.AtenasSelectList .header span.ativo {
  color: #B93044;
}

.AtenasSelectList .header span {
  padding: 0 5px 0 5px;
  box-sizing: border-box;
  flex-grow: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.AtenasSelectList .row {
  margin: 5px 5px;
  padding: 2px 7px;
  background-color: #999;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;

  display: flex;
  box-sizing: border-box;

  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px solid #ccc;
  transition: background 250ms ease;
}

.AtenasSelectList .row.selecionado {
  background-color: #B93044;
}

.AtenasSelectList .row .value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AtenasSelectList .row .quantidade{
  display: flex;
  justify-content: flex-end;
  padding-left: 15px;
}

.AtenasSelectList .row span {
  flex-grow: 1;
  display: flex;
  border: none;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AtenasSelectList .row i {
  padding: 1px 0 0 0;
  width: 0;
  opacity: 0;
  transition: padding 350ms ease,
             width 350ms ease,
             opacity 350ms ease;
}

.AtenasSelectList .row.selecionado i {
  padding: 1px 0 0 5px;
  width: 11px;
  opacity: 1;
}

.AtenasSelectList .row button {
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  border-radius: 0;
  font-weight: bold;
  font-size: 15px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-grow: 1;
  color: #B93044;
  background-color: transparent;
  transition: background-color 250ms;
}

.AtenasSelectList .row button:focus {
  color: #fff;
  background-color: #B93044;
}

.AtenasSelectList .row button:hover {
  color: #fff;
  background-color: #B93044;
}

div.AtenasSelectList > div.tableContainer {
  display: flex;
  /* flex: 0 0 0; */
  overflow-y: auto;
  /* max-height: 0; */
  transition: max-height 500ms ease-out;
  /* height: 0; */
}

div.AtenasSelectList:focus-within > div.tableContainer {
  max-height: 200px;
}

div.AtenasSelectList > div.tableContainer > div.body {
  overflow-y: auto;
  flex-grow: 1;
  padding: 0 5px;
}

div.AtenasSelectList > div.tableContainer > div.body::-webkit-scrollbar-track {
  background: #fff;
}

div.AtenasSelectList > div.tableContainer > div.body::-webkit-scrollbar-thumb {
  border: 3px solid #fff;
}

div.AtenasSelectList > div.tableContainer > div.body > div.row {
  max-height: 29px;
}

.ReactVirtualized__Grid.ReactVirtualized__List {
  overflow-y: auto;
  overflow-x: hidden;
}