.Slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #B93044;
  cursor: pointer;
  transform: scale(0.8) rotate(-45deg);
  transition: transform 150ms ease,
              border-radius 150ms ease;
}

.Slider::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform: scale(0.9) rotate(-45deg);
  background-color: #B93044;
  cursor: pointer;
}

.Slider::-webkit-slider-thumb:active {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50% 50% 50% 0;
  transform: scale(1) rotate(-45deg) translate( 10px,-10px);
  background-color: #B93044;
  cursor: pointer;
}
