.Tab {
  font-size: 18px;
  border-bottom: 3px solid transparent;
  transition: border 250ms ease-out,
              color 250ms ease-out;
  padding: 5px 20px;
  cursor: pointer;
  color: #666;
  user-select: none;
  /* height: 28px; */
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.Tab.active {
  border-bottom: 3px solid #B93044;
  color: #000;
}

/* @media (prefers-color-scheme: dark) {
  .Tab {
    color: #AAA;
  }
  .Tab.active {
    color: #FFF;
  }
} */