
:root {
  --shadow1: 0 5px 16px hsla(0, 0%, 0%, 0.08);
  --shadow2: 0 0.25px 2px hsla(0, 0%, 0%, 0.16);
  --shadow1--hover: 0 5px 40px hsla(0, 0%, 0%, 0.12);
  --shadow2--hover: 0 1px 8px hsla(0, 0%, 0%, 0.08);
  --shadow: var(--shadow1), var(--shadow2), inset 0 2px 16px hsla(0, 0%, 0%, 0), inset 0 0.25px 2px hsla(0, 0%, 0%, 0);
  --shadow--inset: 0 5px 40px hsla(0, 0%, 0%, 0), 0 1px 8px hsla(0, 0%, 0%, 0), inset 0 1px 8px hsla(0, 0%, 0%, 0.32), inset 0 0.25px 2px hsla(0, 0%, 0%, 0.32);
  --shadow--hover: var(--shadow1--hover), var(--shadow2--hover), inset 0 2px 16px hsla(0, 0%, 0%, 0), inset 0 0.25px 2px hsla(0, 0%, 0%, 0);
}

.Table {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--shadow);
  overflow: hidden;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  /* margin: 2px; */
}

.Table table {
  border-spacing: 0;
  width: 100%;
}

/* @media (prefers-color-scheme: dark) {

  .Table {
    background-color: #333333;
    border: 1px solid #666666;
    color: #cccccc;
  }

  .Table .filters {
    background-color: #333333;
    color: #cccccc;
  }

} */

.Table .filters {
  background-color: #FFFFFF;
  color: #666666;
  padding-bottom: 3px;
}

/* @media (prefers-color-scheme: dark) {
  .Table .filters {
    background-color: #333;
  }  
} */


.Table .filters .select {
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.Table .filters .select > * {
  width: 200px;
  padding: 5px;
}

.Table .filters .top {
  align-items: center;
  display: flex;
}

.Table .row {
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.Table .row:nth-child(odd) {
  background-color: #eee;
}


.Table .row:last-child {
  border: none;
}

.Table .row .mobileHeader {
  display: none;
}


.Table .tableContainer {
  overflow-y: auto;
}

.Table thead {
  text-transform: uppercase;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #666666;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.Table thead th {
  padding: 5px;
}


.Table tbody {
  border-top: 1px solid #ddd;
}


/* @media (prefers-color-scheme: dark) {

  .Table thead {
    background-color: #333333;
    color: #cccccc;
  }

  .Table tbody {
    border-top: 1px solid #666666;
  }

  .Table .row:nth-child(odd) {
    background-color: #444;
  }

  .Table .row {
    border-bottom: 1px solid #666;
  }
} */


.Table .row:hover {
  background-color: #aaaaaa66;
  cursor: pointer;
}

.Table .row.header span.ativo {
  color: #B93044;
}

.Table .row input {
  /* padding: 0 10px; */
  background-color: transparent;
  color: #333;
  flex-grow: 1;
  border: none;
  box-sizing: border-box;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid transparent;
  transition: background-color 250ms,
              border 250ms;
}

/* @media (prefers-color-scheme: dark) {

  .Table .row,
  .Table .row input {
    color: #FFFFFF;
  }
} */

.Table .row input:focus {
  border-color: #B93044;
  outline: none;
  background-color: #eee;
}

/* @media (prefers-color-scheme: dark) {

  .Table .row input:focus {
    background-color: #999999;

  }
} */

.Table .row span {
  /* padding: 0 10px; */
  flex-grow: 1;
  display: flex;
  border: none;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  font-size: 14px;
}

.Table .row button {
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* flex-grow: 1; */
  color: #B93044;
  background-color: transparent;
  transition: background-color 250ms;
  /* border: 2px solid transparent; */
}

.Table .row button:focus {
  color: #fff;
  background-color: #B93044;
  /* border: 2px solid #B93044; */
}

.Table .row button:hover {
  color: #fff;
  background-color: #B93044;
  /* border: 2px solid #B93044; */
}

/* 
div.Table > .tableContainer table {
  border-collapse: collapse;
  font-size: 14px;
  min-width: 100%;
}

div.Table > .tableContainer table > .body > .row {
  max-height: 29px;
}

div.Table > .tableContainer table > .body > .row > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  max-width: 250px;
} */

.ReactVirtualized__Grid.ReactVirtualized__List {
  overflow-y: auto;
  overflow-x: hidden;
}



@media (max-width: 768px) {
  .Table table {
    display: block;
  }

  .Table thead {
    display: none;
  }
  .Table tbody {
    width: 100%;
    display: block;
  }

  .Table .row .mobileHeader {
    display: block;
    font-weight: bold;
  }

  .Table .row {
    display: grid;
  }

  .Table .row td {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%!important;
  }

  .Table div .row span {
    display: flex;
    width: 100%!important;
    align-items: center;
  }

  .Table .row button {

    height: 45px;
    width: 45px;
  }
}
