div.Tabs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

div.Tabs > div.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;
}

div.Tabs > div.body {
  flex-grow: 1;
  display: flex;
}

div.Tabs > div.body > div {
  flex-grow: 1;
  display: flex;
}
