.Toast {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0, 0.5);
  display: flex;
  overflow: hidden;
  top: 10px;
  left: calc(50% - 350px/2);
  box-sizing: border-box;
  animation: toasty 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: perspective(50em) rotateX(0);
  z-index: 150;
  margin-bottom: 5px;
  transition: height 500ms ease-out,
              margin 500ms ease-out,
              transform 500ms ease-out;
  pointer-events: all;
  user-select: none;
}

.Toast.closing {
  animation: toasty-out 350ms ease-out;
  max-height: 0;
  margin: 0;
  opacity: 0;
}

.Toast.closing > * {
  position: abstolute;
}

.Toast h3,
.Toast p,
.Toast i {
  color: white;
}

.Toast i {
  font-size: 42px;
}

.Toast .icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.Toast .body {
  padding: 10px 0 10px 10px;
}

.Toast .body .actions > button {
  all: unset;
  height: 32px;
  background-color: #fff;
  color: #333;
  -webkit-text-fill-color: #333;
  border-radius: 4px;
  padding: 0 10px;
  transform: scale(1);
  transition: transform 200ms ease-out;
  cursor: pointer;
  margin-right: 5px;
}

.Toast .body .actions > button:active {
  transform: scale(0.9);
}

.Toast .body .actions button > * {
  font-size: 14px;
}

.Toast h3 {
  font-size: 16px;
  margin: 0;
  margin-right: 25px;
}

.Toast p {
  text-align: left;
  font-size: 14px;
  margin: 3px 5px 0 0;
}

.Toast .close {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 0;
}

.Toast .close button {
  all: unset;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.Toast .close > button > i {
  font-size: 15px;
  flex-grow: 1;
}

.Toast .progress {
  transition: width 120ms;
  height: 6px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 2px;
}

.Toast .progress::after {
  content: '';
  background-color: white;
  width: 100%;
  height: 100%;
  display: block;
}

@keyframes toasty {
  0%   { opacity: 0; transform: perspective(50em) rotateX(90deg); }
  50%  { }
  100% { opacity: 1; transform: perspective(50em) rotateX(0);  }
}

@keyframes toasty-out {
  0%   { 
    opacity: 1; 
    transform: translateX(0%); 
    max-height: 200px; 
  }
  100%  { 
    opacity: 0; 
    transform: translateX(100%); 
    max-height: 0;
    margin: 0;
  }
}
