.ToastList {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  box-sizing: border-box;
  width: 375px;
  max-width: 100%;
  pointer-events: none;
}